.loan-pill {
    padding: 15px 10px;
    border: black solid 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.bg-dark {
    background-color: #000000!important;
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
}

h1 {
    font-family: Poppins;
}

h2 {
    font-family: Poppins;
    font-weight: 300;
}