html,
body {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.loan-pill {
    padding: 15px 10px;
    border: black solid 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.bg-dark {
    background-color: #000000 !important;
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-family: Poppins;
}

h2 {
    font-family: Poppins;
    font-weight: 300;
}

h3 {
    font-family: Poppins;
    font-weight: 300;
}
h4 {
    font-family: Poppins;
    font-weight: 300;
}

p {
    font-family: Poppins;
    font-weight: 400;
}

.header {
    font-weight: 700;
}

.patient-card {
    cursor: pointer;
    background: rgba(196, 196, 196, 0.1);
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    transition: 0.2s ease all;
}

.patient-card:hover {
    transition: 0.2s ease all;
    background: rgba(196, 196, 196, 0.35);
}

.patient-card.active {
    background: rgba(196, 196, 196, 0.35);
}

.patient-card p {
    line-height: 0.75;
}
.patient-card p:not(:first-of-type) {
    color: rgba(0, 0, 0, 0.5);
}

.subtext {
    color: rgba(0, 0, 0, 0.5);
}

.nav-pills .nav-link.active {
    background: #e5e5e5;
    color: #000;
    font-weight: 600;
}

.nav-pills .nav-link {
    background: rgba(196, 196, 196, 0.1);
    border-radius: 0;
    margin-right: 5px;
    color: #000;
    padding: 10px 20px 10px 20px;
    font-weight: 400;
}


